@import "../fonts/fonts.css";



nav {
    min-height: 120px;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.2s linear;
}

nav button {
    background: none;
    border: none;
    outline: none;
}
nav button:focus {
    outline: none;
    border: none;
}

.navTitle {
    margin-left: 150px;
}

.navbar-nav {
    margin-right: 150px;
}
.nav-item {
    margin-right: 20px;
}
.navbar-nav button, .navbar-nav button:focus {
    /* padding: 5px 20px 5px 20px; */
    font-size: 1.2rem;
    font-family: 'maagkramp';
    transition: 0.3s all ease-in;
    border-left: 1px solid rgb(0, 0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0, 0);
    color: rgba(238, 219, 196, 0.9);
}
.navbar-nav button:hover {
    color: rgba(255, 255, 255, 1.0);
}

.navTitle {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
    font-size: 2.0rem;
    font-family: 'LALORG';
    transition: 0.2s all linear;
}
.navTitle:hover {text-shadow: 5px 4px 1px rgba(0, 0, 0, 0.9);}
.navTitle .fname {color: rgba(108, 238, 177, 1.0);}
.navTitle .lname {color: rgb(241, 218, 189);}
.navTitle:hover > .fname {color: rgb(241, 218, 189);}
.navTitle:hover > .lname {color: rgba(108, 238, 177, 1.0);}


.dropdown-menu {
    background-color: rgba(60, 73, 90, 0.9);
}
.dropdown-item {
    color: rgb(94, 81, 73);
}
.dropdown-item:hover {
    background: none;
}




/* Responsive css */
/* @media only screen and (max-width: 1074px) {
} */