@import "../fonts/fonts.css";

nav {
    transition: all 0.2s linear;
}
.nav-min-height {
    min-height: 120px;
}
.bg-black-06 {
    background: rgba(0, 0, 0, 0.6);
}
.bg-theme {
    background-color: rgb(38, 19, 80);
}

nav button {
    background: none;
    border: none;
    outline: none;
}
nav button:focus {
    outline: none;
    border: none;
}

nav .navBarToggler i {
    font-size: 1.6rem;
    color: seashell;
}

.navTitle {
    margin-left: 50px;
}

.navbar-nav {
    margin-right: 50px;
}
.navbar-nav button,
.navbar-nav button:focus {
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    transition: 0.3s all ease-in;
    border-bottom: 1px solid rgb(0, 0, 0, 0);
    color: rgba(238, 219, 196, 0.9);
}
.navbar-nav button:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgba(255, 255, 255, 1);
}

.navTitle {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
    font-size: 2rem;
    font-family: "LALORG";
    transition: 0.1s all linear;
}
.navTitle:hover {
    text-shadow: 5px 4px 1px rgba(0, 0, 0, 0.9);
}
.navTitle .fname {
    color: rgba(108, 238, 177, 1);
    transition: 0.1s all linear;
}
.navTitle .lname {
    color: rgb(241, 218, 189);
    transition: 0.1s all linear;
}
.navTitle:hover > .fname {
    color: rgb(241, 218, 189);
}
.navTitle:hover > .lname {
    color: rgba(108, 238, 177, 1);
}

.notifications .dropdown-menu,
.user .dropdown-menu {
    padding: 0;
    top: 57px;
    width: 300px;
    border: none;
    border-radius: 0;
    border-bottom: 4px solid #5a1d7e;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.notifications .view-all-notifications h6 {
    margin: auto;
}
.notifications .view-all-notifications button {
    margin: 0;
    padding: 1px 1px;
    color: rgb(90, 29, 126, 0.8);
    font-size: 1rem;
    font-weight: bolder;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.notifications .view-all-notifications:hover {
    background: none;
}
.notifications .view-all-notifications button:hover {
    color: rgb(90, 29, 126, 1);
}
.user .dropdown-menu {
    width: 200px;
    text-align: center;
}
.user .dropdown-item {
    padding: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: rgba(0, 0, 0, 0.7);
}
.user .dropdown-item:hover {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
}

.dropdown-toggle::after {
    content: none;
}

/* Responsive css */
/* @media only screen and (max-width: 1074px) {
} */
