@import '../fonts/fonts.css';


.lpBackground {
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0;
    z-index: -100;
}
.lpBackground {
    background-color: rgb(46, 25, 92);
    background-image: url('../media/images/authentication/login_back.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-clip: border-box;
    background-size: cover;
}


.row {
    text-align: center;
}
.firstSection {
    background: rgba(0, 0, 0, 0.6);
}
.firstSection .block {
    margin: 70px 0 100px 0; padding: 0;
}
.block {
    position: relative;
    width: 50%;
    display: inline-block;
}
.firstSection .content {
    position: relative;
    text-align: initial;
}
.cont1 {
    color: rgb(236, 233, 240);
    font-size: 2.5rem;
    font-family: 'PatinioBasica';
}
.cont2 {
    color: rgb(208, 221, 219);
    font-size: 1.2rem;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cont3 {
    margin-top: 50px;
    color: rgba(223, 230, 228, 0.938);
    font-size: 1.1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cont3 ul {list-style-type: none;}
.cont3 li {margin-top: 20px;}
.cont3 li::before {
    content: "\2713";
    color: rgb(240, 191, 100);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.login-signup {
    text-align: left;
    padding: 20px;
}
.login-signup button {
    padding: 10px 30px;
    margin: 30px;
    border-radius: 50px;
    border: none;
    background: rgba(64, 197, 238, 0.1);
    outline:  none;
    color: azure;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.2s all ease-in-out;
}
.login-signup button:hover {
    background: none;
    color: rgb(228, 192, 245);
    border-radius: 5px;
    box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

img {
    margin: 20px;
    width: 70%; height: auto;
}











/* Second Section */
.secondSection {
    padding-bottom: 60px;
    overflow-x: hidden;
    background-image: url('../media/images/secondSection_back1.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
h2 {
    margin-top: 50px;
    text-align: center;
    color: aliceblue;
    font-size: 2.5rem;
    font-family: 'Optien';
    letter-spacing: 2.5px;
    word-spacing: 10px;
    z-index: 1;
}
.categories {
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0px 50px;
}
.categories .cat-block {
    margin: 40px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
    border-radius: 5px;
    white-space: normal;
}
.categories .cat-block:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
    cursor: pointer;
}
.cat-descr {
    padding: 2px 16px;
    background: rgba(47, 36, 68, 0.904);
}
.cat-descr h3 {
    color: rgb(245, 206, 155);
    font-family: 'EatnCake';
    letter-spacing: 3px;
}
.cat-descr p {
    color: rgb(194, 220, 243);
    font-size: 0.9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cat-image {
    width: 100%; height: 300px;
}
.photography {
    background-image: url('../media/images/categories/photographer.png');
    background-position: center;
    background-size: cover;
}
.cat-image div {
    position: relative;
    width: 100%; height: 100%;
    margin: 0;
}
.photography div {
    animation: photo_cat_anim 5s ease-in-out infinite;
    animation-fill-mode: forwards
}
.music {
    background-image: url('../media/images/categories/musician.jpg');
    background-position: center;
    background-size: cover;
}
.animation {
    background-image: url('../media/images/categories/animator.png');
    background-position: center;
    background-size: cover;
}
.categories i {
    position: absolute; right: 0;
    font-size: 3rem;
}









/* Third Section */
.thirdSection {
    background-color: rgb(186, 179, 192);
}
.thirdSection .heading {
    padding: 10px 0 50px 0;
    color: rgb(44, 65, 63);
    font-size: 2.5rem;
    font-family: 'PatinioBasica';
}
.thirdSection .heading::after {
    content: "";
    position: absolute;
    top: 100px; bottom: 100%; left: 0px; right: 100%;
    width: 90px;
    border: 2px solid black;
}
.thirdSection img {
    margin-top: 120px;
}
.thirdSection .block {
    margin: 0;
    padding: 70px 10px 50px 30px;
}
.competition .row {
    padding: 0 0 0 30px;
}
.competition .col-5 {
    background-color: rgb(158, 163, 182);
    min-height: 120px;
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
    transition: all 0.2s linear;
}
.competition .col-5:hover {
    bottom: 10px;
    border: none;
    border-radius: 0;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.4);
}


.competition .title {
    position: absolute; left: 0; top: 38%;
    width: 100%;
    margin: 0;
    text-align: center;
}
.competition h3, .competition p, .competition .title {
    transition: all 0.4s ease-in;
}
.competition h3 {
    font-size: 1.4rem;
    visibility: hidden;
    opacity: 0;
}
.competition p {
    font-size: 0.8rem;
    visibility: hidden;
    opacity: 0;
    color: rgba(207, 214, 221, 0.9);
}
.competition p:hover {
    cursor: default;
}

.competition .col-5:hover > .title {
    letter-spacing: 5px;
    opacity: 0;
    color: aliceblue;
    visibility: hidden;
}
.competition .col-5:hover > p, .competition .col-5:hover > h3 {
    visibility: visible;
    opacity: 1;
}





.page-overlay {
    position: absolute; margin: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}









/* Responsive Css */
@media only screen and (max-width: 1046px) {
    .firstSection {
        padding-bottom: 30px;
    }
    img {
        /* height: 30%; width: auto; */
        display: none;
    }
    .block {
        width: 100%;
        display: block;
    }
    .firstSection .block {
        margin: -40px 0;
    }
    .content {
        padding: 100px;
        text-align: center;
    }

    /* Third Section */
    .competition .row {
        padding: 0;
    }
    .thirdSection .block {
        padding: 70px 10px 0px 30px;
    }
}








@-webkit-keyframes photo_cat_anim {
    0%, 10%, 100% {background: none}
    1% {background-color: white}
}
  
@keyframes photo_cat_anim {
    0%, 10%, 100% {background: none}
    1% {background-color: white}
}

@-webkit-keyframes music_cat_anim {
    0%, 20%, 100% {background-size: cover}
    10% {background-size: 40rem}
}
  
@keyframes music_cat_anim {
    0%, 20%, 100% {background-size: cover}
    10% {background-size: 40rem}
}
