.profile .coverImage {
    height: 300px;
    background-color: white;
}

.profile .profile-content {
    width: 1100px;
    margin: auto;
}

.profile .profile-content .userContent {
    margin: auto;
    margin-bottom: 35px;
    padding: 30px 0;
}
.profile .profile-content .userContent .row {
    padding: 15px 0;
}
.profile .profile-content .userContent .userName {
    padding: 0;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}
.profile .profile-content .userContent .userMail {
    padding: 0; padding-left: 5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
.profile .profile-content .userContent .userMail i {
    color: rgb(241, 97, 97);
}
.profile .profile-content .userContent .userMail h6 {
    margin: 0;
}
.profile .profile-content .userContent .userJob {
    color: rgba(0, 0, 0, 0.6);
    padding: 0;
    text-align: left;
}
.profile .profile-content .userContent .userJob h4 {
    font-size: 1.1rem;
}
.profile .profile-content .userContent .userLocation {
    text-align: left;
    padding: 0; padding-left: 5px;
}
.profile .profile-content .userContent .userLocation h4 {
    font-size: 1.05rem;
    color: rgba(0, 0, 0, 0.8);
}
.profile .profile-content .userContent .userLocation i {
    color: rgb(129, 33, 207);
}
.profile .profile-content .userContent .nav {
    padding: 30px 0 20px 0;
}
.profile .profile-content .userContent .nav button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
}
.profile .profile-content .userContent .nav button i {
    color: rgba(0, 0, 0, 0.8);
}
.profile .profile-content .userContent .nav button h6 {
    transition: all 0.2s linear;
}
.profile .profile-content .userContent .nav button:hover > h6 {
    color: rgb(123, 28, 179);
}
