.uploadPostPopUP {
    position: fixed; top: 0;
    padding: 90px 0 0 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}
.showUploadPostPopUP {
    display: block;
}

.createPost {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1);
    animation: popupDisplay 0.2s ease-out;
}
.createPost .header {
    padding: 20px 0;
    background-image: linear-gradient(135deg, #5a1d7e, #5a1d7e, #7f2bb8);
}
.createPost .header h6 {
    margin: auto;
    color: seashell;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    word-spacing: 3px;
}

.createPost .bodyRow {
    margin: 20px 0;
}
.createPost .body .error {
    border-bottom: 0.5px solid red;
}
.createPost .body .bodyRow input {
    width: 100%;
    padding: 10px 20px;
}

.createPost .body .isPrivate {
    padding: 0 20px; margin: auto;
}
.createPost .body .isPrivate .is-private {
    text-align: right;
}
.createPost .body .isPrivate .is-private label {
    padding-top: 10px; margin: 0;
}
.createPost .body .isPrivate .is-private h6 {
    margin: 0;
}

.createPost .body input,
.createPost .body select,
.createPost .body textarea {
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s linear;
}
.createPost .body input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.createPost .body .category select {
    width: 100%;
    border-radius: 0;
    padding: 0 20px;
}
.createPost .body .category select:focus {
    border: none;
    outline: none;
}
.createPost .body .category select {
    overflow: scroll;
}

.createPost .body textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px 20px;
}

.createPost .body input,
.createPost .body .category select,
.createPost .body textarea,
.createPost .body .category-inputs label {
    border: none;
    outline: none;
    box-shadow: 0 0 2px inset rgba(0, 0, 0, 0.4);
}
.createPost .body input:focus,
.createPost .body select:focus,
.createPost .body textarea:focus,
.createPost .body .category-inputs label:focus {
    transform: scale(1.01);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}


.createPost .body .category-inputs input {
    display: none;
}
.createPost .body .category-inputs label {
    width: 100%;
    padding: 10px 0;
    font-weight: 500;
}
.createPost .body .category-inputs label i {
    color: rgba(55, 19, 122, 1);
}
.createPost .body .category-inputs label:hover {
    cursor: pointer;
}


.createPost .body .category-inputs .fileInputError {
    color: rgb(221, 87, 87);
}
.createPost .body .category-inputs .inputFiles {
    padding: 10px 15px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
}
.createPost .body .category-inputs .inputFiles .col {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.createPost .body .category-inputs .imageSelected {
    min-width: 150px;
    margin: 10px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
    transition: all 0.2s linear;
    overflow: hidden;
}
.createPost .body .category-inputs .imageSelected .cancelSelection {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    outline: none;
    transition: all 0.2s linear;
}
.createPost .body .category-inputs .imageSelected .cancelSelection i {
    font-size: 2rem;
}
.createPost .body .category-inputs .imageSelected:nth-child(n):hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.createPost .body .category-inputs .imageSelected:nth-child(n):hover > .cancelSelection {
    opacity: 1;
}

/* 
    Audio Files Selected
*/
.createPost .body .category-inputs .audio {
    margin: 10px 0;
    height: 40px; width: 100%;
    outline: none;
}
/* 
    Video Files Selected
*/
.createPost .body .category-inputs .video {
    margin: 10px 0;
    height: 40px; width: 100%;
    outline: none;
}



.createPost .buttons {
    padding: 20px 0;
}
.createPost .buttons button {
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid rgba(55, 19, 122, 0.6);
    background: none;
    outline: none;
    transition: all 0.2s linear;
}
.createPost .buttons button:hover {
    border: 1px solid rgba(55, 19, 122, 0);
    background-color: #5a1d7e;
    color: seashell;
    transform: scale(1.05);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}





/* Animations */
@keyframes popupDisplay {
    from {transform: scale(0);}
    to {transform: scale(1);}
}
@-webkit-keyframes popupDisplay {
    from {transform: scale(0);}
    to {transform: scale(1);}
}