html, body {
  width: 100%; height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 7px;
  background: rgb(251, 250, 250);
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
body::-webkit-scrollbar-thumb {
  background: rgb(117, 58, 245);
  border-radius: 60px;
  outline: 1px solid slategrey;
}

.categories::-webkit-scrollbar {
  height: 7px;
  background: transparent;
}
.categories::-webkit-scrollbar-thumb {
  background: rgb(148, 110, 39);
  border-radius: 60px;
}