.chatPage {
    width: 1200px; height: 510px;
    padding: 0; 
    margin: auto; margin-top: 30px;
    border-radius: 2px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.chatPage button {
    margin: 0; padding: 0;
    border: none;
    background: none;
    outline: none;
}
.chatPage .row,
.chatPage .col,
.chatPage .col-1,
.chatPage .col-2,
.chatPage .col-3,
.chatPage .col-4,
.chatPage .col-5,
.chatPage .col-6,
.chatPage .col-7,
.chatPage .col-8,
.chatPage .col-9,
.chatPage .col-10,
.chatPage .col-11,
.chatPage .col-12 {
    padding: 0; margin: 0;
}
/* Left Component (Left part) */
.chatPage .leftContent {
    border-right: 0.5px solid rgba(0, 0, 0, 0.2);
}
/* Heading */
.chatPage .leftContent .header {
    padding: 10px 20px;
    background-color: whitesmoke;
    border-bottom: 1.5px solid rgb(96, 37, 163);
}
.chatPage .chatBox .header .userName,
.chatPage .leftContent .header .heading {
    margin: auto;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.05rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* New Conversation Button */
.chatPage .leftContent .header .newChat {
    padding: 0;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.4);
    transition: all 0.15s linear;
}
.chatPage .leftContent .header .newChat:hover {
    color: rgb(96, 37, 163);
    transform: scale(1.1);
}
/* Chats Search */
.chatPage .leftContent .searchChats {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}
.chatPage .leftContent .searchChats .searchInput {
    width: 70%;
    margin: 10px 0 15px 0; padding: 8px 15px 3px 15px;
    border: none;
    outline: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.2s linear;
}
.chatPage .leftContent .searchChats .searchInput:focus {
    width: 90%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.95);
}
.chatPage .leftContent .searchChats .searchInput::placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.4);
    transition: all 0.2s linear;
}
.chatPage .leftContent .searchChats .searchInput:focus::placeholder {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.2);
}
/* Chat Tiles */
.chatPage .leftContent .chatTiles {
    max-height: 400px; min-height: 400px;
    overflow: auto;
}
.chatPage .leftContent .chatTiles .chatTile {
    padding: 8px 15px 8px 0;
    width: 100%;
    border-left: 4px solid rgba(96, 37, 163, 0);
    transition: all 0.1s linear;
}
.chatPage .leftContent .chatTiles .chatTile:hover {
    cursor: pointer;
    background-color: rgba(250, 240, 255, 0.5);
}
.chatPage .leftContent .chatTiles .chatTile:active {
    background-color: rgba(250, 240, 255, 1);
}
.chatPage .leftContent .chatTiles .chatActive,
.chatPage .leftContent .chatTiles .chatActive:hover {
    background-color: rgb(250, 240, 255);
    border-left: 4px solid rgba(96, 37, 163, 1);
}
.chatPage .leftContent .chatTiles .chatTile .chatImage {
    margin: 0; border-radius: 50%;
    height: 65px; width: 65px;
}
.chatPage .leftContent .chatTiles .chatTile .lastChat {
    padding: 5px 0;
}
.chatPage .leftContent .chatTiles .chatTile .chatName {
    font-size: 1.05rem;
}
.chatPage .leftContent .chatTiles .chatTile .message {
    font-size: 0.9rem; text-align: left;
    color: rgba(0, 0, 0, 0.7);
}
.chatPage .leftContent .chatTiles .chatTile .chatTime .date,
.chatPage .leftContent .chatTiles .chatTile .chatTime .time {
    font-size: 0.7rem;
}
/* Chat Box */
/* Header */
.chatPage .chatBox {
    border-left: 0.5px solid rgba(0, 0, 0, 0.5);
}
.chatPage .chatBox .header {
    height: 10%;
    padding: 8px 20px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}
.chatPage .chatBox .header .userName,
.chatPage .chatBox .header .job {
    margin: auto;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.chatPage .chatBox .header .userName .link {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    text-decoration: none;
}
.chatPage .chatBox .header .userName .link:hover {
    color: rgb(96, 37, 163);
}
.chatPage .chatBox .header .job {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.75rem;
}
/* Chat */
.chatPage .chatBox .body .chat {
    height: 405px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* Chat Input */
.chatPage .chatBox .body .chatInput {
    height: 50px; margin: 2px;
}
.chatPage .chatBox .body .chatInput input {
    height: 100%; width: 100%;
    padding: 0 25px;
    border-radius: 50px;
    border: none; outline: none;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
    font-size: 0.95rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.85);
    transition: all 0.2s linear;
}
.chatPage .chatBox .body .chatInput input:hover,
.chatPage .chatBox .body .chatInput input:focus {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.chatPage .chatBox .body .chatInput input::placeholder {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    transition: all 0.1s linear;
}
/* Input Buttons */
.chatPage .chatBox .body .chatInput .inputButton,
.chatPage .chatBox .body .chatInput .submitButton {
    width: 50px; height: 100%;
    margin: auto 4px;
    padding: 0 15px;
    border-radius: 50%;
    font-size: 1.2rem;
    transition: all 0.1s linear;
}
.chatPage .chatBox .body .chatInput .inputButton i,
.chatPage .chatBox .body .chatInput .submitButton i {
    transform: scale(1.05);
    transition: all 0.1s linear;
}
/* File Input Button */
.chatPage .chatBox .body .chatInput .inputButtons {
    display: block;
}
.chatPage .chatBox .body .chatInput .inputButton {
    background: none;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.1);
}
.chatPage .chatBox .body .chatInput .inputButton:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.chatPage .chatBox .body .chatInput .inputButton:active {
    background-color: rgba(250, 240, 255, 0.5);
}
.chatPage .chatBox .body .chatInput .noDisplay {
    display: none
}
/* Send Button */
.chatPage .chatBox .body .chatInput .submitButton {
    color: seashell;
    background-color: rgb(111, 53, 179);
}
.chatPage .chatBox .body .chatInput .submitButton:active {
    background-color: rgba(96, 37, 163, 1);
}






/* 
*
*
*
*   Chat Messages Styling
*
*
*
*/
.chatPage .chatBox .body .chat .myMessage,
.chatPage .chatBox .body .chat .otherMessage {
    padding: 10px 15px;
}
.chatPage .chatBox .body .chat .chatDetails .datetime {
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.5px;
    word-spacing: 2px;
}
.chatPage .chatBox .body .chat .myMessage .chatDetails .datetime {
    margin-right: 0;
}
.chatPage .chatBox .body .chat .chatDetails .user {
    padding: 0 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.95rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    transform: scale(1.2);
}
.chatPage .chatBox .body .chat .otherMessage .chatDetails .datetime {
    margin-left: 0;
}
.chatPage .chatBox .body .message {
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}
.chatPage .chatBox .body .myMessage .message {
    background-color: rgb(122, 29, 175);
    border-top-right-radius: 0;
}
.chatPage .chatBox .body .otherMessage .message {
    background-color: rgb(121, 121, 121);
    border-top-left-radius: 0;
}







/* ScrollBar */
.chatPage .leftContent .chatTiles::-webkit-scrollbar,
.chatPage .chatBox .body .chat::-webkit-scrollbar {
    width: 4px;
    height: 7px;
    background: transparent;
}
.chatPage .leftContent .chatTiles::-webkit-scrollbar-thumb {
    background: rgb(96, 37, 163);
    border-radius: 60px;
    outline: 1px solid slategrey;
}
.chatPage .chatBox .body .chat::-webkit-scrollbar-thumb {
    background: rgba(96, 37, 163, 0.5);
    border-radius: 60px;
    outline: 1px solid slategrey;
}