@import "../fonts/fonts.css";

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.background {
    background-color: rgb(66, 19, 88);
    background-image: url("../media/images/authentication/login_back.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-clip: border-box;
    background-size: cover;
    z-index: -1;
}
.auth_page {
    text-align: center;
    padding-bottom: 30px;
}
.auth_page input {
    padding: 20px 20px 10px 20px;
    margin: 15px 5px 20px 10px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(195, 133, 214);
    letter-spacing: 1px;
    color: aliceblue;
    caret-color: rgb(253, 224, 185);
    font-size: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
.auth_page input::placeholder {
    color: rgb(192, 220, 245, 0.6);
    font-size: 1.1rem;
    font-family: "LALORG";
}

.auth_page h2 {
    margin-bottom: 25px;
    color: rgb(119, 107, 223);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.homeLink {
    position: sticky;
    top: 0;
    padding: 20px 0 10px 0;
    background-color: rgb(38, 19, 80);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
    text-align: left;
}
.homeLink button {
    background: none;
    border: none;
    outline: none;
}
.homeLink button:hover {
    cursor: pointer;
}

/* LOGIN */
.login_main,
.register_main {
    position: relative;
    width: 100%;
}
.form {
    position: relative;
    width: 49.9%;
    text-align: center;
}
.login_main .image,
.register_main .image {
    position: relative;
    width: 49.9%;
    height: 500px;
}
.login_main .image,
.register_main .image {
    background-image: url("../media/images/authentication/login_sideback.png");
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}
.comp {
    display: inline-block;
}

.login_main input {
    width: 350px;
}

.has-error input {
    /* border-radius: 5px; */
    border-bottom: 1px solid rgb(247, 37, 37);
}

.form_group button {
    outline: none;
    margin-top: 30px;
    padding: 10px 40px;
    color: aliceblue;
    border: 1px solid rgb(113, 47, 175);
    background: none;
    border-radius: 50px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    font-family: "Optien";
    transition: 0.1s linear all;
}
.form_group button:hover {
    cursor: pointer;
    background-color: rgb(237, 188, 252);
    color: rgb(48, 9, 63);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.reg_btn,
.login_btn {
    margin-top: 35px;
    color: rgb(217, 198, 252);
}
.reg_link,
.login_link {
    color: rgb(157, 158, 255);
}
.reg_link:hover,
.login_link:hover {
    color: aliceblue;
}

/* REGISTER */
.register_main .container {
    padding: 0 100px;
}
.register_main input {
    width: 100%;
}
.register_main input::placeholder {
    font-size: 1.1rem;
}

.reg_btns {
    margin-top: 30px;
}
.reg_btns button {
    width: 50%;
    background: none;
    outline: none;
    color: aliceblue;
    border: 1px solid rgb(113, 47, 175);
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 0.95rem;
    font-family: "Optien";
    letter-spacing: 1.5px;
    transition: 0.1s linear all;
}
.reg_btns button:hover {
    cursor: pointer;
    background-color: rgb(237, 188, 252);
    color: rgb(48, 9, 63);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Responsive css */
@media only screen and (max-width: 1074px) {
    .login_main .image,
    .register_main .image {
        display: none;
    }
    .form {
        width: 100%;
        padding: 0 50px;
    }

    .register_main .container {
        padding: 0;
    }
}
