.postJobOffer,
.postJobOffer .row,
.postJobOffer .col,
.postJobOffer .col-1,
.postJobOffer .col-2,
.postJobOffer .col-3,
.postJobOffer .col-4,
.postJobOffer .col-5,
.postJobOffer .col-6,
.postJobOffer .col-7,
.postJobOffer .col-8,
.postJobOffer .col-9,
.postJobOffer .col-10,
.postJobOffer .col-11,
.postJobOffer .col-12 {
    padding: 0; margin: 0;
}
.postJobOffer {
    width: 700px; margin: auto; margin-top: 30px;
    background-color: white;
}
.postJobOffer .header {
    padding: 10px 20px;
    color: seashell;
    background-image: linear-gradient(135deg, #7f2bb8, #5a1d7e);
}
.postJobOffer .inputs {
    padding: 10px 20px;
}