.commentsSection {
    /* display: none; */
}
.commentsSection::before {
    content: "";
    position: absolute;
    left: 10%;
    right: 10%;
    border: 0.25px solid rgba(0, 0, 0, 0.2);
}
.commentsSection .column-1 {
    padding: 5px 30px;
}
.commentsSection .column-1 .comment {
    margin: 0;
    padding-top: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    display: none;
    transition: all 0.2s linear;
}
.commentsSection .column-1 .newCmntBack {
    background-color: rgba(0, 0, 0, 0.1);
}
.commentsSection .column-1 .comment:last-child {
    border-bottom: none;
}
.commentsSection .column-1 .comment:nth-last-child(2) {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.commentsSection .column-1 .cmntImg {
    border-left: 3px solid rgb(129, 33, 192);
}
.commentsSection .column-1 .cmnt_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left: 3px ;
    background-color: burlywood;
}
.commentsSection .column-1 .cmnt_img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.commentsSection .column-1 .commentContent,
.commentsSection .column-1 .newCmnt,
.commentsSection .inputCmnt {
    text-align: left;
    font-size: 0.8rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.commentsSection .column-1 .commentContent .commentedUser {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}
.commentsSection .column-1 .commentContent .commentedUser:hover {
    color: rgb(106, 20, 163);
}
.commentsSection .column-1 .commentContent .commentedTime {
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.7rem;
    font-weight: bold;
}
.commentsSection .column-1 .commentContent .commentText {
    width: 100%;
    margin: 0; padding: 5px;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    word-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.6);
}



.commentsSection .column-1 .addCmnt {
    margin-top: 10px;
    border-radius: 50px;
    border-left: 3px solid rgb(129, 33, 192);
    background-color: rgba(0, 0, 0, 0.1);
}
.commentsSection .column-1 .addCmnt::before {
    display: none;
}
.commentsSection .column-1 .addCmnt {
    padding: 2px 0;
}
.commentsSection .addCmnt .cmnt_img {
    margin: 10px;
}
.commentsSection .inputCmnt {
    margin-top: 15px;
    padding: 5px 10px;
    width: 100%;
    height: 40px;
    resize: none;
    border: none;
    outline: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    background: none;
}
.commentsSection .inputCmnt::placeholder {
    color: rgba(0, 0, 0, 0.4);
}
.commentsSection .addCmnt button {
    width: 80%;
    height: 80%;
    margin: 5px;
    border-radius: 50%;
    color: rgba(37, 77, 199, 0.8);
    font-size: 1.3rem;
    transition: all 0.4s ease-in-out;
}
.commentsSection .addCmnt button:hover {
    border-radius: 0;
    color: rgba(37, 77, 199, 1);
    background-color: rgba(255, 255, 255, 0.5);
}
.commentsSection .addCmnt button:active {
    background: none;
    border-radius: 50%;
}

.commentsSection .addCommentError .error {
    margin: auto; margin-top: 10px;
    color: rgb(219, 76, 76);
}


.commentsSection .column-1 .show {
    display: flex;
}
